*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.main1{
    background:url("./aboutImg/soup.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 30rem;
}
.aboutBtn{
    padding-top:10rem;
}
 h1{
    background-color: rgba(0,0,0,0.55);
    color:white;
    padding-bottom: 0.5rem;
    max-width: fit-content;
    margin: auto;
    padding: 1.5rem;
    border: 4px double #ffc101;  
}
 h1:hover{
    background: rgba(196, 25, 159, 0.527);
    color:white;
}
.aboutTest {
    text-align: center;
    align-items: center;
    width:90%;
    margin: 0px auto;
    padding-top: 5rem;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

@media screen and (min-width: 600px) {
        .aboutTest {
      font-size:20px;
      padding-top: 1rem;
    }
  }
  @media screen and (max-width: 900px){
    .aboutTest{
        font-size: 17px;
        padding-top: 2rem;
      
      }
      .main1{
          height: 30rem;
      }
      .aboutBtn{
          padding-top: 7rem;
      }
  }

  @media screen and (max-width: 600px) {
    .aboutTest{
      font-size: 17px;
    
    }
    .main1{
        height: 30rem;
    }
    .aboutBtn{
        padding-top: 5rem;
    }
  }

