


input {
    height: 3rem;
    width: 20rem;
    background-color: transparent;
}

.submit {
    width: 12rem;
    height: 40px;
    background-color: royalblue;
}

.head-text {
    font-size: 2.5rem;
    
} 
.text {
    text-align: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 1.5rem;
    
    font-family: monospace;
    text-transform: uppercase;
    color: #D9230F;
}

.p {
    font-weight: 500;
    
    font-family: monospace;
    text-transform: uppercase;
    color: #D9230F;
}